<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoItApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B712D141CB2793D00AC3E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B712D2B1CB2793D00AC3E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B712D361CB2793E00AC3E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
